#OuterWindow {
    width : 600px;
	height : 600px;
	position: relative;
    background-color:lightblue;
}
#InnerBox {
	width : 60px;
	height : 60px;
    position: absolute;
    background-color:red;
}